.site-button {
  display: inline-flex;
  transition: $transition;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  border-radius: 4px;
  box-sizing: border-box;

  svg {
    height: 18px;
    width: 18px;
  }

  &_primary {
    background-color: #ffcc48;

    &:hover {
      background-color: #ffd66c;
    }
    &:focus-visible {
      background-color: #ffd66c;
    }
  }
  &_secondary {
    background-color: transparent;
    border: 1px solid #ffcc48;

    &:hover {
      background-color: #fff6dd;
    }
    &:focus-visible {
      background-color: #fff6dd;
    }
  }
  &_tertiary {
    background-color: #ffd66c;

    &:hover {
      background-color: #ffcc48;
    }
    &:focus-visible {
      background-color: #ffcc48;
    }
  }

  &_md {
    min-height: 38px;
    padding: 4px 12px;
  }
  &_sm {
    min-height: 33px;
    padding: 4px 12px;
  }

  &_block {
    display: flex;
    width: 100%;
  }
}
