.site-summary {
  position: relative;
  margin-bottom: 44px;

  @screen max-md {
    margin-bottom: 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @screen max-md {
      justify-content: flex-start;
    }
  }
}
