.site-subs {
  container-type: inline-size;
  container-name: subs;
  background-color: #030a1b;

  @screen max-md {
    margin: 0 calc(50% - 50vw);
  }

  &__inner {
    box-sizing: border-box;
    min-height: 300px;
    position: relative;
    isolation: isolate;
    padding: 50px 60px;
    display: flex;
    align-items: center;

    @container subs (min-width: 1300px) {
      height: 390px;
    }

    @screen max-md {
      justify-content: center;
      align-items: flex-end;
      min-height: 252px;
      text-align: center;
      padding: 34px 24px;
    }
  }
  &__caption {
    width: 100%;
    max-width: 1006px;
    margin: 0 auto;
  }
  &__title {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 38px;

    @screen max-md {
      font-size: 20px;
      margin-bottom: 20px;
      line-height: 1.4;
    }
  }
  &__button {
    font-size: 20px;
    min-height: 52px;
    padding: 8px 24px;

    @screen max-md {
      font-size: 16px;
      min-height: 40px;
    }
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    z-index: -1;

    @screen md {
      mask-image: linear-gradient(90deg, transparent 0%, black 30%);
    }
  }
}
