// $item-bp: 340px;

.site-news {
  &__wrapper {
    margin-bottom: 44px;

    @screen max-md {
      margin-bottom: 20px;
    }
  }
  &__list {
    display: grid;
    flex-wrap: wrap;
    gap: 20px;

    @screen sm {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @screen md {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 0 min(2.5vw, 30px);
      margin: 0 0 calc(min(2.5vw, 30px) * -1);
      grid-auto-rows: min(0.8333vw, 10px);
      grid-auto-flow: dense;
    }
  }
  &__block {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      padding-bottom: 76.4%;
    }

    @screen md {
      grid-row: span 29;
      margin: 0 0 min(2.5vw, 30px);
      width: auto;

      &:nth-child(even) {
        grid-row: span 48;
      }
      &:nth-child(3n + 1) {
        grid-column: 1;
      }
      &:nth-child(3n + 2) {
        grid-column: 2;
      }
      &:nth-child(3n) {
        grid-column: 3;
      }

      &::before {
        display: none;
      }
    }
  }
  &__pager {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;

    @screen max-md {
      margin-bottom: 20px;
    }
  }
  &__more {
    width: 224px;

    @screen max-md {
      width: 100%;
    }
  }

  &__pagination {
    display: flex;
  }
  &__pagination-item {
    & + & {
      margin-left: 16px;
    }

    &.current {
      border-color: #030a1b;
      cursor: default;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
