.site-nav-tabs {
  &__list {
    display: flex;
    list-style: none;
    margin: 0;
  }
  &__item {
    & + & {
      margin-left: 12px;
    }
  }
  &__tab {
    scroll-snap-align: center;
    animation: delay-snap 1ms;

    @keyframes delay-snap {
      from {
        scroll-snap-align: none;
      }
    }

    &.active {
      animation: none;
    }
  }
}
