.site-related {
  margin-top: 54px;
  margin-bottom: 24px;

  @screen max-md {
    margin-top: 20px;
  }

  & &__title {
    font-size: 36px;

    font-weight: 800;
    line-height: normal;
    margin: 0 0 40px;

    @screen max-md {
      font-size: 20px;
      margin: 20px 0;
    }
  }
  &__wrapper {
    position: relative;
  }
  &__viewport {
    overflow: hidden;
  }
  &__container {
    display: flex;
    margin-left: -30px;
  }
  &__item {
    height: 290px;
    flex-shrink: 0;
    width: calc(100% / 3 - 30px);
    margin-left: 30px;

    @screen max-lg {
      width: calc(100% / 2 - 30px);
    }
    @screen max-md {
      height: 220px;
    }
    @screen max-sm {
      width: calc(100% - 30px);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @screen 2xl {
      margin-top: 0;
    }
    @screen max-md {
      margin-top: 20px;
    }
  }
  &__prev,
  &__next {
    @screen 2xl {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      border-color: #030a1b;
    }

    svg {
      fill: #000000;
      height: 16px;
      width: 16px;
    }
  }
  &__prev {
    @screen 2xl {
      right: calc(100% + 34px);
    }
  }
  &__next {
    @screen 2xl {
      left: calc(100% + 34px);
    }
  }
}
