$condition: (
    width: 1cqw
  )
  and
  (
    display: grid
  );

.site-news {
  &__wrapper {
    margin-bottom: 44px;

    @screen max-md {
      margin-bottom: 20px;
    }

    @screen sm {
      @supports $condition {
        container-type: inline-size;
      }
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;

    @screen md {
      margin: -12px;
    }

    @screen sm {
      @supports $condition {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 2.47cqw;
        margin: 0 0 -2.47cqw;
        grid-auto-rows: 0.5cqw;
        grid-auto-flow: dense;
      }
    }
  }
  &__item {
    display: block;
    position: relative;
    width: calc(100% - 10px * 2);
    margin: 10px;

    @screen sm {
      width: calc(100% / 3 - 12px * 2);
    }

    @screen md {
      margin: 12px;
    }

    &::before {
      content: "";
      display: block;
      padding-bottom: 76.4%;
    }

    @screen sm {
      @supports $condition {
        grid-row: span 53;
        margin: 0 0 2.47cqw;
        width: auto;

        &:nth-child(even) {
          grid-row: span 85;
        }
        &:nth-child(3n + 1) {
          grid-column: 1;
        }
        &:nth-child(3n + 2) {
          grid-column: 2;
        }
        &:nth-child(3n) {
          grid-column: 3;
        }

        &::before {
          display: none;
        }
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  &__pager {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;

    @screen max-md {
      margin-bottom: 20px;
    }
  }
  &__more {
    width: 224px;

    @screen max-md {
      width: 100%;
      min-height: 37px;
      border: 1px solid #ffcc48;
      background-color: #ffffff;

      &:hover {
        background-color: #ffcc48;
        border-color: #ffcc48;
      }
    }
  }
}
